.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(239, 239, 239);
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul,ol{
    list-style: none;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
[data-x].offset{
    transform: translateY(200px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.8s;
}
.sitewelcome{
    display: none;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.sitewelcome.active{
    display: flex;
}
.TopNavBar{
    padding: 15px 0px 18px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    color: rgb(192,194,197);
    z-index: 3;
}
.TopNavBar.stick{
    background: white;
    padding: 10px 0 15px;
    color: #3d4451;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    z-index: 1;
}
.TopNavBar nav>ul>li{
    float: left;
    list-style: none;
    margin-right: 17px;    
    margin-left: 17px;
    margin-top: 14px;
    position: relative;
}
.TopNavBar .TopNavBar-ine{
    padding: 0px 16px;
}
.TopNavBar nav > ul > li > a{
    display: block;
    font-size: 12px;
    color: inherit;
    padding-bottom: 5px;
    font-weight: bold;
}
.TopNavBar nav > ul > li.active > a::after,
.TopNavBar nav > ul > li.aaa > a::after{
    position: absolute;
    display: block;
    content: "";
    top: 19px;
    width: 100%;
    height: 3px;
    margin-top: 0;
    left: 0;
    background:  rgb(232,103,107);
    border-radius: 1px;
    animation: b 0.5s;
}
@keyframes b{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.menuTigger{
    z-index: 5;
}
.TopNavBar .sebmenu{
    display: none;
    position: absolute;
    white-space:nowrap;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    padding: 5px 10px;
    animation: bbb 0.4s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}
@keyframes bbb{
    0%{
       margin-right: 100%; 
    }
    100%{
        margin-right: 0;
    } 
}
.TopNavBar li.active > .sebmenu{
    display: block;
}
.TopNavBar .logo{
    font-size: 31px;
    font-family: 'Arial Black';
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-left: 16px;
}
.TopNavBar .logo .rs{
    margin-right: 4px; color: #e6686a;
}
.TopNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    background-image: url(./img/backgroundpicture.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .yinying{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.big{
    background-color: #fff;
    max-width: 940px;
    margin: 0 auto;
    margin-top: -360px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
.usercard{
    padding: 50px;
}
.usercard .profile .welcome{
    background-color: rgb(232,103,107);
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.usercard .profile .welcome .triangle{
    display: block;
    width: 0;
    left: 4px;
    border: 10px solid transparent;
    border-top-width: 0px;
    border-left-color: rgb(232,103,107);
    position: absolute;
    top: 100%
}
.usercard .picture > img{
    float: left;
    width: 299px;
    height: 347px;
}
.profile{
    float: left;
    margin-left: 65px;
    width: 460px;
}
.profile>h1{
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 5px;
}
.profile>hr{
    margin: 20px 0;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 8px 0;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: #9da0a7;
}
footer.media{
    background: #E6686A;
    text-align: center;
}
footer.media svg{
    width: 30px;
    height: 30px; 
    fill: white;
    vertical-align: top;
}
footer.media > a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
    transition: all 0.3s;
}
footer.media > a:hover{
  background: #CF5D5F;
}
body > main .buttom{
    border: 1px solid rgb(203, 205, 207);
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    text-align: center;
    margin-top: 45px;
    color: #3d4451;
    font-family: "Open Sans";
    font-weight: 700;
    border-radius: 5px;
    transition: box-shadow 0.4s;
}
body > main .buttom:hover{
    box-shadow: 0px 1px 12px 2px rgba(0,0,0,0.4);
}
main .introduction {
    text-align: center;
    padding-top: 57px;
    line-height: 45px;
    font-size: 20px;
    font-family: serif;
}
body .skill{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 80px;
}
body > .skill > h2{
    text-align: center;
    font-size: 34px;
    font-style: inherit;
    font-weight: bold;
    margin-bottom: 39px;
}
body > .skill > ol{
    background: #fff;
    list-style: none;
    padding: 40px 50px 0px 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}
body > .skill > ol > li >h3{
    font-size: 14px;
    color: rgb(61, 68, 81);
}
body > .skill > ol > li{
    float: left;
    width: 47%;
    box-sizing: border-box;
    vertical-align: top;
}
body > .skill > ol > li .progressbar{
    border-radius: 3px;
    height: 4px;
    background: rgb(250, 224, 224);
    margin-top: 2px;
    margin-bottom: 40px;
    overflow: hidden;
}
body > .skill > ol > li:nth-child(even){
    float: right;
}
body > .skill > ol > li .progress{
    width: 40%;
    height: 100%;
    border-radius: 3px;
    background-color: rgb(232,103,107);
    transform: translateX(0);
    transition: all 0.7s;
}
.skill.offset .progress{
    transform: translateX(-100%);
}
body .portfolio{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}
body .portfolio h2{
    font-size: 34px;
    font-style: inherit;
    font-weight: bold;
    margin-bottom: 35px;
}
body .portfolio > nav .bar.state-1 .bartwo{
    width: 20%;
}
body .portfolio > nav .bar.state-2 .bartwo{
    width: 30%;
    margin-left: 60px;
}
body .portfolio > nav .bar.state-3 .bartwo{
    width: 30%;
    margin-left: 140px;
}
.portfolio .swiper-container {
    width: 750px;
    height: 500px;
    box-shadow: 0px 0px 5px 1px rgba(82, 69, 69, 0.75);
    border-radius: 5px;
}
.portfolio .swiper-button-prev{
    right: 100%;
    left: auto;
    margin-right: -70px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: transparent;
    background-color: white;
    margin-top: 13px;
}
.portfolio .swiper-button-prev:focus{
    outline: none;
}
.portfolio .swiper-button-next{
    left: 100%;
    right: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -70px;
    background-color: white;
    margin-top: 13px;
}
.portfolio .swiper-button-next:focus{
    outline: none;
}
.h3{
    text-align: center;
    font-size: 32px;
}
.message > h3 {
    font-size: 34px;
    font-style: inherit;
    font-weight: bold;
    margin-bottom: 35px;
}
.message > ol{
    max-width: 700px;
    max-height: 1500px;
    overflow: hidden;
    margin: 0 auto;
    border: 10px solid #DDD;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0px 0px 5px 1px #DDD;
}
.postMessage{
    width: 700px;
    margin: 30px auto;
    margin-bottom: 100px;
}
#messageList>li{
    padding: 16px;
    border-bottom: 3px solid #DDD;
    margin: 0px 50px;
    overflow: hidden;
    word-break:break-all;
}
#messageList>:last-child{
    border-bottom-color: transparent;
}
.labelTwo{
    margin-bottom: 10px;
}
.input1,.input2{
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    border: 1px solid #777;
    margin-right: 20px;
}
.input2{
    margin-top: 14px;
}
.input3{
    float: right;
    margin-top: 90px;
    border: none;
    padding:5px 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    background: #496fe4;
}